[Unit]
Description=abcde autorip
Requires=docker.service
RequiresMountsFor=/zpool1/arm
After=dev-cdrom.device
BindsTo=dev-cdrom.device
Requisite=dev-cdrom.device

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
# Docker image must be built/rebuilt
ExecStartPre=/usr/bin/docker create \
    --name %p \
    --volume "/zpool1/arm/media:/srv" \
    --device "/dev/cdrom:/dev/cdrom" \
    --tmpfs /tmp --tmpfs /var/tmp \
    --cap-add SYS_RAWIO \
    johnduarte/abcde-autorip
ExecStart=/usr/bin/docker start --attach %p
ExecReload=/usr/bin/docker restart %p
ExecStop=/usr/bin/docker stop --time 5 %p

[Install]
WantedBy=dev-cdrom.device
